{{template config_path="design/email/header_template"}}

<div class="brand-coupon-email">
    <div>
        <p>Thank you for subcribing to our newsletter here is a one time use coupon for 20% off to use at checkout. </p>
        <p> <strong>{{var coupon_code}}</strong></p>
    </div>
</div>

{{template config_path="design/email/footer_template"}}
